
.carousel-container {
  position: fixed;
  top: calc(48px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  height: 100%;
  width: 100%;

  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; */
  white-space: nowrap;

  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.carousel-image {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  scroll-snap-align: center;
}

.carousel-image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* font-size: 2rem; */
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 50%;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}
