<div class="container">

  <p>
    Guten Tag! Für die optimale Nutzung der WalkApp möchten wir Sie bitten, folgende Einstellungen an Ihrem Mobiltelefon vorzunehmen.
  </p>

  <div class="material-symbols-outlined scroll-more">
    expand_more
  </div>

  <h3>Anleitung für die Grundeinstellungen</h3>

  <app-instructions></app-instructions>

  <p class="footer">
    <button (click)="channelService.chooseChannel()" mat-raised-button color="accent"><mat-icon class="material-symbols-outlined">footprint</mat-icon>Erlebnismodus wählen</button>
  </p>

</div>
