<div class="container">

  <h2>Herzlich willkommen bei der MITWELTEN WalkApp!</h2>

  <p>
    Diese App wurde im Rahmen des Forschungsprojektes
    <a href="https://www.mitwelten.org/" style="color: #ff4081" target="_blank">Mitwelten</a>
    entwickelt. Ihr privates Mobiltelefon dient bei der Nutzung als Interface
    der ort- und kontextsensitiven Vermittlung und Publikumsführung. Die
    WalkApp informiert bei einem Spaziergang entlang der Nord-Südachse der
    Reinacher Heide über die Entstehung des Naturschutzgebietes,
    unterschiedliche Lebensräume und Lebewesen, und den Aushandlungsprozess
    zwischen Mensch und Natur. Die Inhalte beziehen sich dabei immer auf den
    jeweiligen Standort des Spaziergangs: Wenn Sie beispielsweise an einem Baum
    mit Nagespuren vorbeigehen, wird mit Informationen zum Biber auf dessen
    Präsenz hingewiesen. Es werden ebenfalls Messwerte präsentiert, die durch
    unterschiedliche Sensoren erfasst wurden und es kommen Personen zu Wort,
    die in der Reinacher Heide aktiv sind. Sie werden auch dazu eingeladen die
    WalkApp mit Ihren eigenen Fotos anzureichern, indem Sie Tierfotos der
    Reinacher Heide auf der Meldeplattform
    <a href="https://www.wildenachbarn.ch/" style="color: #ff4081" target="_blank">WildeNachbarn</a>
    hochladen. Sie können diese unterschiedlichen Informationen abrufen, indem
    Sie die unterschiedlichen
    <a href="#" (click)="channelService.chooseChannel()" style="color: #ff4081">Erlebnismodi</a>
    auswählen.
  </p>

  <p>
    Wir wünschen Ihnen einen schönen, medial erweiterten Spaziergang!
  </p>

  <div class="material-symbols-outlined scroll-more">
    expand_more
  </div>

  <h3>WalkApp Systemoptimierung</h3>

  <app-instructions></app-instructions>

  <p class="footer">
    <button (click)="channelService.chooseChannel()" mat-raised-button color="accent"><mat-icon class="material-symbols-outlined">footprint</mat-icon>Erlebnismodus wählen</button>
  </p>

</div>
