:host {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-image: url('/assets/mitwelten-logo.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container {
  height: 100%;
  background-color: #ffffffcc;
}
