<h1>{{ title }}</h1>
<app-record-control style="width: min-content;"></app-record-control>

<div id="coords">
  Latitude: {{ location?.lat | number:'1.8-8' }} |
  Longitude: {{ location?.lon | number:'1.8-8' }}
</div>

<div id="progress">
  Progress: {{ trackProgress.progress | async | percent:'1.2-2' }}
</div>

<div id="closeDepoyements">
  <strong>Close deployments</strong>
  <ul>
    <li *ngFor="let d of deployments">
      {{ d.node.node_label }}, {{ d.node.type }}:
      {{d.description}} ({{d.distance | number:'1.1-1'}}m)
    </li>
  </ul>
</div>

<app-map (closeDeployments)="deployments = $event"></app-map>
