app-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

h1 {
  background-color: rgba(255,255,255,0.7);
  padding: 8px;
}

#coords {
  position: absolute;
  bottom: 16px;
  left: 8px;
  right: 8px;
  background-color: rgba(255,255,255,0.7);
  padding: 8px;
}

#progress {
  position: absolute;
  top: 20%;
  font-size: 24px;
  font-weight: bold;
  left: 8px;
  background-color: rgba(255,255,255,0.7);
  border: 2px solid #888;
  border-radius: 4px;
  padding: 8px;
}
