app-map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.mat-mdc-menu-item em {
  font-weight: normal;
  font-style: normal;
}

div.active.mat-mdc-menu-item em {
  font-weight: bold;
}

h1 {
  background-color: rgba(255,255,255,0.7);
  padding: 8px;
}

mat-toolbar {
  position: fixed;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

#info {
  display: grid;
  position: fixed;
  top: 20%;
  left: 4%;
  right: 4%;
  font-size: 12px;
  row-gap: 8px;
  grid-template-columns: 100%;
}

#info div,
#info ul {
  background-color: rgba(255, 255, 255, 0.82);
  padding: 4px;
  border-radius: 4px;
  width: fit-content;
  border: 1px solid #aaa;
}

#info ul {
  margin: 0;
  list-style-type: none;
}

#info #debug-hotspots li {
  display: grid;
  grid-template-columns: 20px 20px 64px auto;
  column-gap: 8px;
}

#info #debug-deployments {
  overflow: scroll;
  max-width: -webkit-fill-available;
}

#info #debug-deployments li {
  white-space: nowrap;
}
