<router-outlet></router-outlet>

<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Hauptmenu öffnen">
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </button>
  <span class="mat-h3" style="margin: 0;">{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Audio Benachrichtigungen" (click)="audioService.toggle()">
    <mat-icon *ngIf="!(audioService.running | async)" class="material-symbols-outlined">notifications_off</mat-icon>
    <mat-icon *ngIf="(audioService.running | async)" class="material-symbols-outlined">notifications_active</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="gpsRecordMenu" aria-label="Open GPS recording menu" [style.display]="(authService.authStateSubject | async) ? 'initial':'none'">
    <mat-icon class="material-symbols-outlined">location_on</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="parcoursMenu" aria-label="Open Parcours Options" [style.display]="(authService.authStateSubject | async) ? 'initial':'none'">
    <mat-icon class="material-symbols-outlined">settings</mat-icon>
  </button>
  <button mat-icon-button aria-label="Erlebnismodus wählen" (click)="channelService.chooseChannel()">
    <mat-icon class="material-symbols-outlined">footprint</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <a mat-menu-item (click)="openInstructions()">
    <mat-icon color="accent" class="material-symbols-outlined">settings</mat-icon>
      Anleitung zum Einrichten
  </a>
  <a mat-menu-item (click)="openTools()">
    <mat-icon color="accent" class="material-symbols-outlined">linked_services</mat-icon>
    Dienste und<br>weiterführende Infos
  </a>
  <button *ngIf="!isLoggedIn" mat-menu-item (click)="login()">
    <mat-icon color="accent" class="material-symbols-outlined">login</mat-icon>
    <span>Anmelden</span>
  </button>
  <button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
    <mat-icon color="accent" class="material-symbols-outlined">logout</mat-icon>
    <span>Abmelden</span>
  </button>
  <span *ngIf="userData" mat-menu-item disabled>Angemeldet als {{ userData.firstName }} {{ userData.lastName }}</span>
  <span mat-menu-item disabled>Version {{version}}</span>
</mat-menu>

<mat-menu #gpsRecordMenu="matMenu">
  <app-record-control style="width: min-content;"></app-record-control>
</mat-menu>

<mat-menu #parcoursMenu="matMenu">
  <div mat-menu-item>
    <strong>Parcours Mode / Settings</strong>
  </div>
  <div mat-menu-item [routerLink]="['/map']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon color="accent" class="material-symbols-outlined">map</mat-icon>
    <em>Map View</em>
  </div>
  <div mat-menu-item [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon color="accent" class="material-symbols-outlined">wallpaper_slideshow</mat-icon>
    <em>Stack Fade View</em>
  </div>
  <div mat-menu-item (click)="hotspotService.chooseHotspot()">
    <mat-icon color="accent" class="material-symbols-outlined">my_location</mat-icon>
    <em>Trigger Hotspot</em>
  </div>
  <div mat-menu-item (click)="parcoursService.choosePath()">
    <mat-icon color="accent" class="material-symbols-outlined">share</mat-icon>
    <em>Select Path</em>
  </div>
  <div mat-menu-item (click)="stackService.chooseStack()">
    <mat-icon color="accent" class="material-symbols-outlined">imagesmode</mat-icon>
    <em>Select Stack</em>
  </div>
  <div mat-menu-item>
    <mat-slide-toggle #toggleAddMarkers>Add markers</mat-slide-toggle>
  </div>
  <div mat-menu-item>
    <mat-slide-toggle #toggleDebugView>Debug</mat-slide-toggle>
  </div>
</mat-menu>

<div id="info" *ngIf="(state.debugView | async)">
  <div>
    Progress: {{ parcoursService.progress | async | percent:'1.2-2' }}
  </div>
  <div>
    Distance: {{ parcoursService.distanceToPath | async | number:'1.2-2' }} m
  </div>
  <div>
    Accuracy: {{ (parcoursService.location | async)?.coords?.accuracy | number:'1.2-2' }} m
  </div>

  <!-- hotspots -->
  <ul id="debug-hotspots">
    <li>
      <span><strong>id</strong></span>
      <span><strong>tp</strong></span>
      <span><strong>distance</strong></span>
      <span><strong>info</strong></span>
    </li>
    <li *ngFor="let hotspot of hotspotService.closeHotspots | async">
      <span>{{ hotspot.id }}</span>
      <span>{{ hotspot.type }}</span>
      <span>{{ hotspot.distance | number:'1.1-1'}}m</span>
      <span>{{ hotspot.subject }}</span>
    </li>
  </ul>

  <!-- deployments -->
  <ul id="debug-deployments">
    <li *ngFor="let d of parcoursService.closeDeployments | async | slice:0:3 ">
      {{ d.node.node_label }}, {{ d.node.type }}:
      {{d.description}} ({{d.distance | number:'1.1-1'}}m)
    </li>
  </ul>
</div>

<ng-template #instructionsDialog>
  <h2 mat-dialog-title>Anleitung für die Grundeinstellungen</h2>
  <div mat-dialog-content>
    <app-instructions></app-instructions>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Danke</button>
  </div>
</ng-template>

<ng-template #toolsDialog>
  <h2 mat-dialog-title>Dienste und weiterführende Infos</h2>
  <div mat-dialog-content>
    <app-tools></app-tools>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Schliessen</button>
  </div>
</ng-template>
