<app-map (closeDeployments)="deployments = $event"></app-map>

<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Open main menu">
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </button>
  <span class="mat-h2" style="margin: 0;">{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="gpsRecordMenu" aria-label="Open GPS recording menu">
    <mat-icon class="material-symbols-outlined">location_on</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="parcoursMenu" aria-label="Open Parcours menu">
    <mat-icon class="material-symbols-outlined">share</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <a mat-menu-item href="https://mitwelten.org" target="_blank">
    <mat-icon color="accent" class="material-symbols-outlined">link</mat-icon>
    https://mitwelten.org
  </a>
  <button *ngIf="!isLoggedIn" mat-menu-item (click)="login()">
    <mat-icon color="accent" class="material-symbols-outlined">login</mat-icon>
    <span>Sign in</span>
  </button>
  <button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
    <mat-icon color="accent" class="material-symbols-outlined">logout</mat-icon>
    <span>Sign out</span>
  </button>
  <span *ngIf="userData" mat-menu-item disabled>Signed in as {{ userData.firstName }} {{ userData.lastName }}</span>
  <span mat-menu-item disabled>Version {{version}}</span>
</mat-menu>

<mat-menu #gpsRecordMenu="matMenu">
  <app-record-control style="width: min-content;"></app-record-control>
</mat-menu>

<mat-menu #parcoursMenu="matMenu">
  <div mat-menu-item>
    <strong>Parcours Mode / Settings</strong>
  </div>
  <div mat-menu-item>
    <mat-slide-toggle>Parcours</mat-slide-toggle>
  </div>
  <div mat-menu-item>
    <mat-slide-toggle #toggleAddMarkers>Add markers</mat-slide-toggle>
  </div>
</mat-menu>

<div id="coords">
  Latitude: {{ location?.lat | number:'1.8-8' }} |
  Longitude: {{ location?.lon | number:'1.8-8' }}
</div>

<div id="progress">
  Progress: {{ trackProgress.progress | async | percent:'1.2-2' }}
</div>

<div id="closeDepoyements">
  <strong>Close deployments</strong>
  <ul>
    <li *ngFor="let d of deployments">
      {{ d.node.node_label }}, {{ d.node.type }}:
      {{d.description}} ({{d.distance | number:'1.1-1'}}m)
    </li>
  </ul>
</div>
