<h1 mat-dialog-title>
  <span *ngIf="!addMode">Choose</span><span *ngIf="addMode">Add</span> Walk Path
</h1>

<div mat-dialog-content>

  <div class="path-list" *ngIf="!addMode">
    <div><strong>Title</strong></div>
    <div><strong>Description</strong></div>
    <div><strong>created</strong></div>
    <div><strong>updated</strong></div>
    <div></div>

    <ng-container *ngFor="let walk of walks">
      <div>{{ walk.title }}</div>
      <div>{{ walk.description }}</div>
      <div>{{ walk.created_at | date }}</div>
      <div>{{ walk.updated_at | date }}</div>
      <div>
        <button color="primary" mat-icon-button (click)="select(walk.walk_id!)">
          <mat-icon *ngIf="walk.walk_id === parcoursService.selectedPathID; else unselected" class="material-symbols-outlined">stars</mat-icon>
          <ng-template #unselected><mat-icon  class="material-symbols-outlined">star</mat-icon></ng-template>
        </button>
        <button color="accent" mat-icon-button (click)="edit(walk.walk_id!)">
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
        </button>
        <button color="warn" mat-icon-button (click)="remove(walk.walk_id!)">
          <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <form *ngIf="addMode" [formGroup]="pathForm" (ngSubmit)="submit()" style="margin-top: 16px;">

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" name="title" id="title">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" name="description" id="description">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Path</mat-label>
      <textarea matInput rows="6" type="text" formControlName="path" name="path" id="path"></textarea>
      <mat-hint>Paste from <a href="https://geojson.io/#map=17.1/47.509166/7.611619" target="_blank">geojson.io</a></mat-hint>
      <mat-error *ngIf="pathForm.controls.path.errors?.['invalidGeoJSON']">Invalid GeoJSON</mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="addMode = true" *ngIf="!addMode">Add Path</button>
  <button mat-button color="primary" *ngIf="addMode" (click)="submit()">Save</button>
</div>
