<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-h2">Sign in</mat-card-title>
      <mat-card-subtitle>Authenticate for access to more details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" id="username">
      </mat-form-field>
      <mat-form-field class="full-width-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" id="password">
      </mat-form-field>
      <div *ngIf="message" class="error">{{ message }}</div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-raised-button type="submit" color="primary">Sign in</button>
    </mat-card-actions>
  </mat-card>
</form>
