<div class="container">

  <h2 class="mat-h1">Mitmachen</h2>

  <div class="content">

    <p><strong>Hier könnte dein Beitrag zu sehen sein!</strong></p>
    <!-- <p>
      Du hast ein Foto von einem Wildtier oder einer Wildtier-Spur gemacht und
      möchtest es mit anderen teilen? Dann lade es auf der Meldeplattform
      <a href="https://beidebasel.wildenachbarn.ch/" target="_blank" rel="noopener noreferrer" title="Wilde Nachbarn beider Basel">Wilde Nachbarn beider Basel</a> hoch.
    </p> -->

    <p>
      Du kannst bei der Bewahrung der Artenvielfalt in der Reinacher Heide und der
      Birslandschaft mithelfen, indem Du <strong>vom Weg aus</strong> Fotos von Wildtieren
      und deren Spuren machst und auf der Meldeplattform unseres Kooperations-Projekts
      <em>Wilde Nachbarn</em> hochlädst:
    </p>

    <p>
      <a mat-raised-button color="primary" href="https://beidebasel.wildenachbarn.ch/melden" target="_blank" rel="noopener noreferrer" title="Meldeplattform Wilde Nachbarn beider Basel">
        <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>Wilde Nachbarn beider Basel</a>
    </p>

    <p>
      Dadurch kann die Entwicklung dieser Arten längerfristig untersucht und
      Populationsveränderungen oder Konflikte im Zusammenleben frühzeitig erkannt
      werden.
    </p>

    <p>
      Deine Beobachtungen werden von Fachleuten geprüft, auf der Plattform erfasst
      und mit etwas Glück auch genau hier in der WalkApp für die Öffentlichkeit
      angezeigt.
    </p>

    <div id="wilde-nachbarn">
      <a href="https://beidebasel.wildenachbarn.ch/" target="_blank" rel="noopener noreferrer" title="Wilde Nachbarn beider Basel">
        <img src="https://beidebasel.wildenachbarn.ch/modules/custom/swild_wildenachbarn/images/logo-wildenachbarn.png" alt="">
      </a>
    </div>

  </div>

</div>
