<div class="container">

  <div class="content">

    <p><strong>Machen Sie mit!</strong></p>
    <!-- <p>
      Du hast ein Foto von einem Wildtier oder einer Wildtier-Spur gemacht und
      möchtest es mit anderen teilen? Dann lade es auf der Meldeplattform
      <a href="https://beidebasel.wildenachbarn.ch/" target="_blank" rel="noopener noreferrer" title="Wilde Nachbarn beider Basel">Wilde Nachbarn beider Basel</a> hoch.
    </p> -->

    <p>
      An dieser Stelle wurde noch kein Foto hochgeladen. Falls Sie hier
      Tierfotos gemacht haben, können Sie sie mit der Meldeplattform hochladen:
    </p>

    <p>
      <a href="https://beidebasel.wildenachbarn.ch/melden" target="_blank"
      rel="noopener noreferrer" title="Meldeplattform Wilde Nachbarn beider
      Basel">wildenachbarn.ch</a>
    </p>

    <p style="font-size: 14px">
      Ihre Beobachtungen werden von Fachleuten geprüft und mit etwas Glück in
      der <strong><em>WalkApp</em></strong> veröffentlicht. Entwicklungen
      unterschiedlicher Arten können somit untersucht und
      Populationsveränderungen oder Konflikte erkannt werden.
    </p>

    <p style="font-size: 14px">
      Bitte verlassen Sie die Wege der Reinacher Heide nicht.
    </p>

    <p style="font-size: 14px">
      Vielen Dank!
    </p>

    <div id="wilde-nachbarn" style="display: none;">
      <a href="https://beidebasel.wildenachbarn.ch/" target="_blank" rel="noopener noreferrer" title="Wilde Nachbarn beider Basel">
        <img src="https://beidebasel.wildenachbarn.ch/modules/custom/swild_wildenachbarn/images/logo-wildenachbarn.png" alt="">
      </a>
    </div>

  </div>

</div>
