<div class="carousel-container">
  <div class="carousel-wrapper" #wrapper>
    <div *ngFor="let img of hotspot?.media; index as i" [id]="'img-'+i" class="carousel-image">
      <img [src]="img">
      <app-copyright class="copyright" [credits]="hotspot?.copyright"></app-copyright>
    </div>
  </div>
  <span class="material-symbols-outlined carousel-arrow left" (click)="swipeTransition('left')">
    keyboard_arrow_left
  </span>
  <span class="material-symbols-outlined carousel-arrow right" (click)="swipeTransition('right')">
    keyboard_arrow_right
  </span>
</div>

<div id="text" *ngIf="hotspot" [@slideUpDown]>
  <h2>{{ hotspot.species }}</h2>
  <div>
    <div class="infotable">
      <strong>Beobachungsart:</strong><span>{{ hotspot.observation }}</span>
      <strong>Beobachungstyp:</strong><span>{{ hotspot.observation_type }}</span>
      <strong>Beobachungsdatum:</strong><span>{{ hotspot.date }}, {{ hotspot.time_range }}</span>
    </div>
    <a mat-stroked-button color="primary" [href]="hotspot.post_url" target="_blank" rel="noopener noreferrer" style="margin-right: 16px;" >
      <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>Meldung</a>
    <a mat-stroked-button color="primary" [href]="hotspot.portrait_url" target="_blank" rel="noopener noreferrer">
      <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>Artenportrait</a>
    <p *ngIf="hotspot.comment">
      {{ hotspot.comment }}
    </p>
  </div>
</div>
