ul {
  margin: 0;
  padding: 0;
}

li.channel-option {
  background-color: #8ec990dd;
  border-radius: 5px;
  padding: 12px;
  display: block;
  margin: 0 0 16px 0;
}

li.channel-option h3 mat-icon {
  line-height: 28px;
  scale: 0.8;
  margin-bottom: -5px;
  margin-left: -4px;
}

a {
  color: #ff4081;
}

.mat-expansion-panel {
  background-color: #ffffff7d;
  margin: 0 0 16px 0;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child,
.mat-accordion > *:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 16px;
}

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: #ffffff7d;
  }
}
