<h1 mat-dialog-title>
  Auswahl des Erlebnismodus
</h1>

<div mat-dialog-content>
  <p>
    Hier können Sie verschiedene Erlebnismodi wählen, die Ihren Spaziergang durch die Reinacher Heide auf unterschiedliche Art und Weise bereichern. Sie wählen dabei keine unterschiedlichen Routen aus, sondern unterschiedliche Arten der medialen Bespielung und der präsentierten Informationen. Da die WalkApp weiss, wo Sie sich befinden, beziehen sich diese Informationen auf Ihren jeweiligen Standort (location-sensitive information).
  </p>
  <ul class="mat-body">
    <li class="channel-option" >
      <h3>Guided Tour</h3>
      <p>In diesem Erlebnismodus werden Sie beim Spaziergang durch die Reinacher Heide auf verborgene Schätze und Besonderheiten des Naherholungs- und Naturschutzgebietes aufmerksam gemacht. Mittels Fotos, Infotexten, Datenvisualisierungen und Tondokumenten, werden Ihnen Informationen zur Tier- und Pflanzenwelt sowie zur Entwicklung und Nutzungsproblematik der Reinacher Heide angeboten. Durch einen Klingelton werden Sie jeweils auf einen neuen Inhalt aufmerksam gemacht, der einen Bezug zu Ihrem Standort herstellt.</p>
      <button (click)="select(1)" mat-raised-button color="accent">
        <mat-icon class="material-symbols-outlined">footprint</mat-icon>los!
      </button>
    </li>
    <li class="channel-option">
      <h3>Stop Motion Movie</h3>
      <p>In diesem Erlebnismodus wird Ihnen eine durchgehende Animation von Bildern der ansässigen Tier- und Pflanzenwelt sowie historischer Bilder angeboten. Sie nehmen Bezug zu Ihrem jeweiligen Standort und werden als Bildstrecke durch Überblendungen nahtlos aneinander gereiht. Sie können die Abspielgeschwindigkeit dabei durch Ihre Gehgeschwindigkeit regulieren.</p>
      <button (click)="select(2)" mat-raised-button color="accent">
        <mat-icon class="material-symbols-outlined">footprint</mat-icon>los!
      </button>
    </li>
    <li class="channel-option">
      <h3>Besucher*innenfotos</h3>
      <p>In diesem Erlebnismodus werden Fotos von Besucher*innen der Reinacher Heide präsentiert, die mittels der Meldeplattform www.wildenachbarn.ch hochgeladen wurden. Sie können auf diese Art und Weise selber Bilder der Reinacher Heide hochladen, die nach einem Selektionsverfahren auf der WalkApp veröffentlicht werden. Bitte vergessen Sie dabei nicht, dass die Wege in der Reinacher Heide nicht verlassen werden dürfen.</p>
      <button (click)="select(3)" mat-raised-button color="accent">
        <mat-icon class="material-symbols-outlined">footprint</mat-icon>los!
      </button>
    </li>
    <li *ngIf="isLoggedIn" class="channel-option">
      <h3><mat-icon class="material-symbols-outlined">lock</mat-icon>Kartenansicht</h3>
      <p>Anzeige des Parcours auf der Karte, inkl. GPS-Track</p>
      <button (click)="select(4)" mat-raised-button color="accent">
        <mat-icon class="material-symbols-outlined">footprint</mat-icon>los!
      </button>
    </li>
    <li *ngIf="!isLoggedIn" class="channel-option">
      <p>für mehr bzw. privilegierte Inhalte:</p>
      <button mat-raised-button color="accent" (click)="authService.login()">
        <mat-icon class="material-symbols-outlined">login</mat-icon>
        <span>Anmelden</span>
      </button>
    </li>
  </ul>
</div>
