:host {
  position: fixed;
  top: calc(48px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex-direction: column;
}

#portrait {
  flex: 0 0 auto;
  width: 70vw;
  height: 70vw;
  max-height: 70vh;
  max-width: 70vh;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #555;

}

.footer {
  position: absolute;
  bottom: 0;
  /* width: 100%; */
}

.volume mat-icon {
  flex: 1 0 max-content;
}

.actions {
  justify-content: center;
  gap: 10%;
}

.time-slider {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.info {
  flex: 0 0 auto;
  margin-bottom: 20vh;
  margin-top: 17px;
  text-align: center;
  margin-bottom: 20vh;
  max-width: calc(100% - 32px);
}

.speaker {
  font-weight: bold;
}
.function {
  color: #777;
}
.function::before {
  content: "(";
  margin-left: 10px;
}
.function::after {
  content: ")";
}

.subject {
  display: block;
  max-width: 100%;
  padding: 0 16px;
  margin: 24px 0 8px 0;
  font-size: 1.2rem;
}

@media (orientation: landscape) {
  :host {
    flex-direction: row;
    padding-bottom: 20vh;
  }

  #portrait {
    margin-right: 20px;
  }

  .info {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 40%;
  }
}
