<div class="container">
  <h1>Infos</h1>
  <h2>Wie benutze ich die Walk App?</h2>
  <p>
    Um die WalkApp zu nutzen, solltest Du erst folgende Einstellungen an Deinem Mobiltelefon anpassen: Deine
    GPS-Position freigeben, den Sleep-Modus deaktivieren, den Ton und Mobile Daten aktivieren, …?
  </p>
  <p>
    Du kannst Dich frei im Feld bewegen und wirst von der WalkApp auf Sachen aufmerksam gemacht, die Bezug zu Deinem
    Standort haben. Wenn Du Dich auf dem rot eingezeichneten Weg bewegst (siehe Übersichtskarte), haben die
    Informationen besonders engen Bezug zu Deiner Umgebung. Sie können aber auch auf anderen Wegen abgerufen werden, die
    nicht allzu weit entfernt sind.
  </p>
  <p>
    Die App macht sich bemerkbar, indem sie vibriert und einen Signalton von sich gibt. Du kannst dann entscheiden, ob
    Du die angebotenen Informationen in Form von Texten, vorgelesenen Texten, Bildern, Videos oder Tondokumenten
    annehmen möchtest. Falls Du nicht mit einer Berührung des Bildschirms bestätigst, verschwinden sie nach einer Weile
    wieder.
  </p>
  <p>
    Wir wünschen Dir nun spannende Einblicke in die «Reinacher Heide». Falls Du noch Fragen oder Vorschläge hast,
    kannst Du uns gerne eine Nachricht hinterlassen: info@mitwelten.org
  </p>
</div>

<button id="close-button" mat-mini-fab color="accent" aria-label="Close" routerLink="/">
  <mat-icon class="material-symbols-outlined">close</mat-icon>
</button>
